html,body{
	margin :0;
	padding: 0;
	height: 100%;
}
body{
	  background: linear-gradient(-50deg,#b11414, #07232b);
}
.pcicon_S,.usericon_S,.pcicon_R,.usericon_R,.pcicon_P,.usericon_P{
	border-radius: 50%;
	position: absolute;
	display: none;
}
.pcicon_R{
	left: 31%;
	top: 2%;
	border-radius: 0%;
}
.usericon_R{
	right: 75%;
	top: 2%;
}
.pcicon_P{
	left: 51%;
	top: 2%;
	border-radius: 0%;
}
.usericon_P{
	right: 56%;
	top: 2%;
}
.usericon_S{
	right: 38%;
	top: 2%;
}
.pcicon_S{
	left: 70%;
	top: 2.5%;
	border-radius: 0%;
}
.volumebutton{	
	height: 5%;
	background-color: red;
	border-radius: 50%;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}
.Options{
	position: relative;
	clear: both;
	text-align: center;
	border-bottom: 2px solid red;
	padding: 0% 1% 2% 1%;
	margin: 1% 0 1% 0;
}
.rock,.paper,.scissor{
	border: 2px solid black;
	display: inline-block;
	width: 13%;
	margin-right: 5%;
	border-radius: 50%;
}
.scissor:hover{
	transform:scale(1.1);
}
.rock:hover{
	transform:scale(1.1);
}
.paper:hover{
	transform:scale(1.1);
}
.rock:active{
	transform: scale(1);
}
.paper:active{
	transform: scale(1);
}
.scissor:active{
	transform: scale(1);
}
.reset{
	position: absolute;
	width: 60px;
	right: 48%;
	top: 40%;
	border: 3px solid #865858;
	border-radius: 20%;
}
.reset:hover{
	transform: scale(1.1);
}
.reset:active{
	transform: scale(1);
}
.computer,.user{
	position: absolute;
	width: 18%;
	height: 33%;
	/*border-radius: 50%;*/
	top: 50%;
}
.computer{
	right: 10%;
}
.user{
	left: 10%;
}
.score{
	display: block;
	position: relative;
	top: 100px;
	text-align:center;
}
.scoreofuser{
	position: absolute;
	left: 30%;
	top: 65%; 
	border-radius: 50%;
	width: 50px;
	height: 50px;

}
.scoreofpc{
	position: absolute;
	right: 30%;
	top: 65%;
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
.playersname{
	position: absolute;
	bottom: 0;
	line-height: 80px;
	font-family:  courier;
	font-size: 40px;
	background-color: #630000;
	color: white;
	width: 100%;
	text-align: center;
	margin-left: 0;
}